<h1>Login</h1>
<div>
    <form id="cookieForm" class="container col-3 m-auto d-flex flex-column " action="/api/session/login" method="POST">
        <label>Email</label>
        <input name="email">
        <br />
        <label>pass</label>

        <input name="password">
        <input class="my-4" type="submit">
    </form>

</div>
